* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 0.312rem;
}
html,
body {
  font-size: 15.9936px;
  font-family: "Roboto", serif;
  color: darken(#e0e0e0, 50%);
  @media screen and (max-width: 600px) {
    font-size: 11px;
  }
  @media screen and (max-width: 400px) {
    font-size: 10px;
  }
}
.container {
  margin: auto;
  width: 560px;
  @media screen and (max-width: 600px) {
    width: 385px;
  }
  @media screen and (max-width: 400px) {
    width: 350px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin-top: 0.9375em;
  @media screen and (max-width: 600px) {
    font-size: 1.2rem;
  }
  @media screen and (max-width: 400px) {
    font-size: 1rem;
  }
  h1.logo {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 0.9;
    a {
      font-size: 3em;
      color: darken(#e0e0e0, 50%);
      text-decoration: none;
      transition: 0.2s;
      &:hover {
        color: darken(#e0e0e0, 60%);
      }
    }
  }
  div {
    display: flex;
    .score {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #e0e0e0;
      justify-content: center;
      padding: 0 0.9375em;
      margin: 0.625em 0;
      &:first-of-type {
        margin-right: 0.9375em;
      }
      span {
        font-weight: bold;
        &:first-of-type {
          text-transform: uppercase;
          font-size: 0.9em;
        }
        &:last-of-type {
          margin-top: 0.1875em;
          font-size: 1.3em;
          color: lighten(#e0e0e0, 10%);
        }
      }
    }
  }
}

.sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.625em;
  font-size: 1rem;
  @media screen and (max-width: 600px) {
    font-size: 1.3rem;
  }
  @media screen and (max-width: 400px) {
    font-size: 1rem;
  }
  p {
    margin-right: 0.625em;
    font-size: 1.1rem;
  }
  button {
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 1.3rem;
    color: lighten(#e0e0e0, 20%);
    background: darken(#e0e0e0, 20%);
    padding: 0.4375em 0.9375em;
    white-space: nowrap;
    &:hover {
      color: lighten(#e0e0e0, 30%);
      background: darken(#e0e0e0, 30%);
    }
  }
}
.learn {
  margin-top: 15px;
  font-size: 1.1rem;
  @media screen and (max-width: 600px) {
    font-size: 1.3rem;
  }
  @media screen and (max-width: 400px) {
    font-size: 1rem;
  }
}

#game {
  margin-top: 1.25rem;
  display: flex;
  width: calc(31.2504rem + 3.75rem);
  flex-wrap: wrap;
  position: relative;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  background: #e0e0e0;
  padding: 0.312rem;
  user-select: none;
  touch-action: none;
  .square {
    margin: 0.312rem;
    height: 6.2496rem;
    width: 6.2496rem;
    background: lighten(#e0e0e0, 10%);
    // transition: 0.3s;
    font-size: 3.5rem;
    font-weight: bold;
    div {
      height: inherit;
      width: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      &.new {
        animation: new 200ms ease-out;
      }
      &.merge {
        animation: merge 200ms ease-out;
      }
      &.rank-0 {
        background: none;
      }
      &.rank-2 {
        background: #d2d2e2;
      }
      &.rank-4 {
        background: #b0d8ff;
      }
      &.rank-8 {
        background: #e2d1e0;
      }
      &.rank-16 {
        background: #d3bad0;
      }
      &.rank-32 {
        background: #f2b9cc;
      }
      &.rank-64 {
        background: #f8c7c1;
      }
      &.rank-128 {
        background: #fedea5;
        font-size: 3rem;
      }
      &.rank-256 {
        background: #fde694;
        font-size: 3rem;
      }
      &.rank-512 {
        background: #9ec295;
        font-size: 3rem;
      }
      &.rank-1024 {
        background: #9ec295;
        font-size: 2.5rem;
      }
      &.rank-2048 {
        background: #9ec295;
        // color: lighten(#E0E0E0, 50%);
        font-size: 2.25rem;
      }
    }
  }
}

@keyframes new {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes merge {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
