:root {
  --color-black-1: #ffffff;
  --color-black-2: #f0f0f0;
  --color-black-3: #e1e1e1;
  --color-black-4: #c8c8c8;
  --color-black-5: #aaaaaa;
  --color-black-6: #8c8c8c;
  --color-black-7: #6e6e6e;
  --color-black-8: #505050;
  --color-black-9: #323232;
  --colorRank-2: #f5eaf7;
  --colorRank-4: #d8c8ec;
  --colorRank-8: #c4c4f7;
  --colorRank-16: #b5cef4;
  --colorRank-32: #a7e2f1;
  --colorRank-64: #9aefdd;
  --colorRank-128: #8decb1;
  --colorRank-256: #83e97f;
  --colorRank-512: #a5e673;
  --colorRank-1024: #cee365;
  --colorRank-2048: #e1bf5a;
  --colorRank-4096: #de804d;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 4.992px;
          border-radius: 4.992px;
}

html,
body {
  font-size: 18px;
  font-family: "Roboto", serif;
  color: var(--color-black-7);
}

@media screen and (max-width: 600px) {
  html,
  body {
    font-size: 11px;
  }
}

@media screen and (max-width: 400px) {
  html,
  body {
    font-size: 10px;
  }
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--color-black-1);
  background: var(--color-black-7);
  padding: 10px 20px;
  white-space: nowrap;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

button:hover {
  background: var(--color-black-8);
}

a {
  color: var(--color-black-7);
  text-decoration: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

a:hover {
  color: var(--color-black-8);
}

.container {
  margin: auto;
  width: 560px;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  margin-top: 15px;
}

.header h1.logo {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  line-height: 0.9;
}

.header h1.logo a {
  font-size: 80px;
}

.header div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header div .score {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--color-black-4);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7px 15px;
}

.header div .score:first-of-type {
  margin-right: 15px;
}

.header div .score span {
  font-weight: bold;
}

.header div .score span:first-of-type {
  text-transform: uppercase;
  font-size: 14px;
  color: var(--color-black-8);
}

.header div .score span:nth-of-type(2) {
  font-size: 24px;
  color: var(--color-black-1);
}

.header div .score span.increaseScore {
  margin-top: 17px;
  position: absolute;
  font-size: 24px;
  color: var(--color-black-7);
  -webkit-animation: up 700ms ease-out infinite;
          animation: up 700ms ease-out infinite;
}

.sub-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.sub-header p {
  margin-right: 10px;
}

.sub-header div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub-header div .settings {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-right: 10px;
}

.sub-header div .settings:hover i {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sub-header div .settings i {
  font-size: 30px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  -o-transition: transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

.learn {
  margin-top: 15px;
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.modal .modalBody {
  min-width: 250px;
  padding: 15px;
  background: var(--color-black-1);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal .modalBody .modalTitle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: default;
  font-size: 30px;
  font-weight: bold;
}

.modal .modalBody > div {
  margin-top: 30px;
  text-align: center;
}

.modal .modalBody .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#game {
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  background: var(--color-black-3);
  padding: 4.992px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: none;
      touch-action: none;
}

#game .square {
  margin: 5px;
  height: 100px;
  width: 100px;
  background: var(--color-black-1);
  font-size: 56px;
  font-weight: bold;
}

#game .square div {
  height: inherit;
  width: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3) inset;
          box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3) inset;
}

#game .square div.new {
  -webkit-animation: new 200ms ease-out;
          animation: new 200ms ease-out;
}

#game .square div.merge {
  -webkit-animation: merge 200ms ease-out;
          animation: merge 200ms ease-out;
}

#game .square div.rank-0 {
  background: none;
}

#game .square div.rank-2 {
  background: var(--colorRank-2);
}

#game .square div.rank-4 {
  background: var(--colorRank-4);
}

#game .square div.rank-8 {
  background: var(--colorRank-8);
}

#game .square div.rank-16 {
  background: var(--colorRank-16);
}

#game .square div.rank-32 {
  background: var(--colorRank-32);
}

#game .square div.rank-64 {
  background: var(--colorRank-64);
}

#game .square div.rank-128 {
  background: var(--colorRank-128);
  font-size: 48px;
}

#game .square div.rank-256 {
  background: var(--colorRank-256);
  font-size: 48px;
}

#game .square div.rank-512 {
  background: var(--colorRank-512);
  font-size: 48px;
}

#game .square div.rank-1024 {
  background: var(--colorRank-1024);
  font-size: 40px;
}

#game .square div.rank-2048 {
  background: var(--colorRank-2048);
  font-size: 36px;
}

#game .square div.rank-4096 {
  background: var(--colorRank-4096);
  font-size: 36px;
}

@-webkit-keyframes new {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes new {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes merge {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes merge {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes up {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@keyframes up {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

.switch {
  width: 62px;
  height: 32px;
  background: #e5e5e5;
  z-index: 0;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  cursor: pointer;
  position: relative;
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
}

.switch:before {
  content: " ";
  position: absolute;
  left: 1px;
  top: 1px;
  width: 60px;
  height: 30px;
  background: #ffffff;
  z-index: 1;
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
}

.switch:after {
  content: " ";
  height: 29px;
  width: 29px;
  -webkit-border-radius: 28px;
          border-radius: 28px;
  background: #fff;
  position: absolute;
  z-index: 2;
  top: 1px;
  left: 1px;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
     transition-duration: 300ms;
  -webkit-box-shadow: 0 2px 5px #999999;
  box-shadow: 0 2px 5px #999999;
}

.switchOn,
.switchOn:before {
  background: #4cd964 !important;
}

.switchOn:after {
  left: 32px !important;
}
