:root {
  --colorWhite: rgb(250, 250, 244);
  --colorBlack: rgb(80, 80, 80);
  --colorLightGrey: rgb(226, 226, 226);
  --colorGrey: rgb(201, 201, 201);
  --colorDarkGrey: rgb(104, 104, 104);
  /* */
  --colorRank-2: #f5eaf7;
  --colorRank-4: #d8c8ec;
  --colorRank-8: #c4c4f7;
  --colorRank-16: #b5cef4;
  --colorRank-32: #a7e2f1;
  --colorRank-64: #9aefdd;
  --colorRank-128: #8decb1;
  --colorRank-256: #83e97f;
  --colorRank-512: #a5e673;
  --colorRank-1024: #cee365;
  --colorRank-2048: #e1bf5a;
  --colorRank-4096: #de804d;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 0.312rem;
          border-radius: 0.312rem;
}

html,
body {
  font-size: 15.9936px;
  font-family: "Roboto", serif;
  color: var(--colorDarkGrey);
}

@media screen and (max-width: 600px) {
  html,
  body {
    font-size: 11px;
  }
}

@media screen and (max-width: 400px) {
  html,
  body {
    font-size: 10px;
  }
}

.container {
  margin: auto;
  width: 560px;
}

@media screen and (max-width: 600px) {
  .container {
    width: 385px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 350px;
  }
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  margin-top: 0.9375em;
}

@media screen and (max-width: 600px) {
  .header {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 400px) {
  .header {
    font-size: 1rem;
  }
}

.header h1.logo {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  line-height: 0.9;
}

.header h1.logo a {
  font-size: 2.5em;
  color: var(--colorDarkGrey);
  text-decoration: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header h1.logo a:hover {
  color: var(--colorBlack);
}

.header div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header div .score {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--colorGrey);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .4375em 0.9375em;
}

.header div .score:first-of-type {
  margin-right: 0.9375em;
}

.header div .score span {
  font-weight: bold;
}

.header div .score span:first-of-type {
  text-transform: uppercase;
  font-size: 0.75em;
  color: var(--colorDarkGrey);
}

.header div .score span:last-of-type {
  font-size: 1.5em;
  color: var(--colorWhite);
}

.sub-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.625em;
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .sub-header {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 400px) {
  .sub-header {
    font-size: 1rem;
  }
}

.sub-header p {
  margin-right: 0.625em;
  font-size: 1.1rem;
}

.sub-header button {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1.3rem;
  color: var(--colorWhite);
  background: var(--colorDarkGrey);
  padding: 0.4375em 0.9375em;
  white-space: nowrap;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.sub-header button:hover {
  background: var(--colorBlack);
}

.learn {
  margin-top: 15px;
  font-size: 1.1rem;
}

@media screen and (max-width: 600px) {
  .learn {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 400px) {
  .learn {
    font-size: 1rem;
  }
}

#game {
  margin-top: 1.25rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-calc(31.2504rem + 3.75rem);
  width: calc(31.2504rem + 3.75rem);
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  background: var(--colorLightGrey);
  padding: 0.312rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: none;
      touch-action: none;
}

#game .square {
  margin: 0.312rem;
  height: 6.2496rem;
  width: 6.2496rem;
  background: var(--colorWhite);
  font-size: 3.5rem;
  font-weight: bold;
}

#game .square div {
  height: inherit;
  width: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1) inset;
}

#game .square div.new {
  -webkit-animation: new 200ms ease-out;
          animation: new 200ms ease-out;
}

#game .square div.merge {
  -webkit-animation: merge 200ms ease-out;
          animation: merge 200ms ease-out;
}

#game .square div.rank-0 {
  background: none;
}

#game .square div.rank-2 {
  background: var(--colorRank-2);
}

#game .square div.rank-4 {
  background: var(--colorRank-4);
}

#game .square div.rank-8 {
  background: var(--colorRank-8);
}

#game .square div.rank-16 {
  background: var(--colorRank-16);
}

#game .square div.rank-32 {
  background: var(--colorRank-32);
}

#game .square div.rank-64 {
  background: var(--colorRank-64);
}

#game .square div.rank-128 {
  background: var(--colorRank-128);
  font-size: 3rem;
}

#game .square div.rank-256 {
  background: var(--colorRank-256);
  font-size: 3rem;
}

#game .square div.rank-512 {
  background: var(--colorRank-512);
  font-size: 3rem;
}

#game .square div.rank-1024 {
  background: var(--colorRank-1024);
  font-size: 2.5rem;
}

#game .square div.rank-2048 {
  background: var(--colorRank-2048);
  font-size: 2.25rem;
}

#game .square div.rank-4096 {
  background: var(--colorRank-4096);
  font-size: 2.25rem;
}

@-webkit-keyframes new {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes new {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes merge {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes merge {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
